* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body{
    font-family: sans-serif;
}

#app{
    padding: 1rem;;
    margin: 0 auto;
    width: 333px;
}

#app>div{
    background-color: antiquewhite;
    padding: 20px 20px
}

div>span{
    font-size: 24px;
}

form{
    margin: 20px;
}

.text-label{
    display: inline-block;
    width: 40px;
    padding-right:12px ;
}

.btn{
     margin: 10px;
     display: block;
     width: 100px;
     padding: 10px 10px 10px 10px; 
     margin-left: 90px;
}

.text-input{
    font-size: 16px;
    margin-bottom: 5px;
}
.label-success{
    font-size: 14px;
    text-align: center;
    display: block;
    background-color: #666;
    color: whitesmoke;
    padding:10px 10px;
}

div.list{
    margin-top:20px;
}

